<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="loggerAppName" value="MQDemo"/>
    ​
    <property name="logPattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${loggerAppName},%thread] [%-5level] [%logger{10}] %msg%n"/>
    　
    <property name="loggerRoot" value="/data/log"/>


    <appender name="STDOUT-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT-APPENDER"/>
    </root>

</configuration>
